* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.products-container {
  padding: 1rem;
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(6, 1fr);

}

@media only screen and (width < 1860px) {
  .products-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media only screen and (width < 1320px) {
  .products-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (width < 940px) {
  .products-container {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (width < 580px) {
  .products-container {
    grid-template-columns: repeat(1, 1fr);
  }
}